<h1>Edit property</h1>
<div class="form">
  <%= simple_form_for @flat, html: {multipart: true} do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :street %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <%= f.button :submit %>
  <% end %>
</div>
 <%= link_to 'Cancel', flat_path %>

