<h1><%= @flat.title %></h1>
<p class="description">Description: <% @flat.description %></p>
<p class="price">Price: <%= @flat.price %></p>
<p class="address">Address: <%= @flat.street %></p>
<p class="address"><%= @flat.zipcode %></p>
<p class="address"><%= @flat.city %></p>
