<h1 class="text-center"><%= @flat.title %></h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 flat-details">
      <% if @flat.picture? %>
      <%= image_tag @flat.picture.url(:medium) %>
      <% else %>
      <%= image_tag 'placeholder.jpg', width: '90%' %>
      <% end %>
      <p class="description">Description: <%= @flat.description %></p>
      <p class="price">Price per night: <%= @flat.price %>€</p>
      <p class="address"><%= @flat.zipcode %></p>
      <p class="address"><%= @flat.city %></p>
      <p class="text-center"><%= link_to 'Back to flats', flats_path %></p>
      <% if user_signed_in? && current_user.id == @flat.user.id %>
      <p class="text-center"><%= link_to 'Edit flat', edit_flat_path %></p>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="col-xs-12 col-sm-6 form">
        <%= simple_form_for [@flat, @booking], method: :post do |f| %>
          <%= f.input :check_in %> <!-- , as: :bootstrap_datepicker -->
          <%= f.input :check_out %> <!-- , as: :bootstrap_datepicker -->
          <%= f.input :guest, label: 'Number of guests' %>
          <%= f.input :flat_id, :as => :hidden, :input_html => { :value => @flat.id } %>
          <%= f.button :submit, "Send booking request" %>
        <% end %>
      <% else %>
        <div class="padding-spacing">
        <p>Want to reserve this flat? Please sign in or create an account</p>
          <%= link_to('Sign in', new_user_session_path, class: "btn btn-primary") %>
          <%= link_to "Create an account", new_user_registration_path , class: "btn btn-success" %>
        </div>

      <% end %>

    </div>
  </div>
</div>


