<div class="container">
 <div class="row">
   <h2 class='text-center'> List of bookings</h2>
   <div class='col-xs-6 text-center'><%= image_tag 'placeholder.jpg', width: '90%' %>
   </div>
 <div class="row">
   <div class="col-xs-6">

   <% @bookings.each do |booking| %>

     <p>Date of arrival <%= booking.check_in %></p>
     <p>Date of departure <%= booking.check_out %></p>
     <p>address of <%= booking.flat.title %></p>
     <p><%= booking.flat.street %>, <%= ' ' %><%= booking.flat.city %></p>
     <p>Price <%= booking.flat.price %>€</p>
   <%end%>
   </div>
 </div>
 </div>
</div>
