
<div class="container">
  <div class="row">
    <i class="fa fa-arrow-left"><%= link_to ' booking request', flat_path(@flat) %></i>
    <h2 class='text-center'>Reservation for <%= @flat.title %></h2>
    <div class='col-xs-6 text-center'><%= image_tag 'placeholder.jpg', width: '90%' %>
    </div>
  <div class="row">
    <div class="col-xs-6">
      <p>Date of arrival <%= @booking.check_in %></p>
      <p>Date of departure <%= @booking.check_out %></p>
      <p>address of <%= @flat.title %></p>
      <p><%= @flat.street %>, <%= ' ' %><%= @flat.city %></p>
      <p>Price <%= @flat.price %>€</p>
      <br>
      <br>
      <p><%= link_to 'add a new booking', root_path %></p>
    </div>
  </div>
  </div>
</div>

