<h2>Booking details :</h2>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>reservation for:</p><h2><%= @booking.flat.title %></h2>
      <p>address of flat<%= @booking.flat.address %></p>
      <p><%= @booking.check_in %></p>
      <p><%= @booking.check_out %></p>
      <p><%= number_to_currency(@booking.flat.price) %></p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
