
<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter superpose_title"></div>
    <video autoplay loop class="fillWidth">
      <source src="<%= video_path("birds/birds.mp4") %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="<%= video_path("birds/birds.webm") %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
      <img src="<%= video_path("birds/birds.jpg") %>" alt="">
    </div>

    <div class="search-container">
    <div class="container row text-center style_home_title ">
      <h1>WELCOME HOME</h1>
    </div>

      <div class="form-inline">
        <%= form_tag(flats_path, method: "get", class: "") do %>
            <%= text_field_tag(:city, nil, placeholder: 'Look for a city', class: 'form-control') %>
          <%= date_field(:booking, :check_in, placeholder: 'Checkin', class: 'form-control', id: 'date-btn') %>
          <%= date_field(:booking, :check_out, placeholder: 'Checkout', class: 'form-control', id: 'date-btn') %>
          <%= number_field_tag :capacity, nil, placeholder: '2 guests', min: 1, max: 15, class: 'form-control', id: 'guest-btn' %>
         <!--  <%= number_field_tag :beds,nil, placeholder: 'How many beds',min: 1, max: 10 %> -->
          <%= submit_tag("Search", class: "btn-success btn-large btn form-control", id: 'submit-btn') %>
        <% end %>
      </div>
    </div>
  </div>
</div>




<!-- <div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="PATH_TO_MP4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="PATH_TO_JPEG" alt="">
        </div>
    </div>
</div>
 -->
